html {
    background: url("http://www.tokkoro.com/picsup/1078032-whiplash.jpg") bottom
      center;
    background-size: cover;
  }
  
  body,
  html {
    margin: 0;
    padding: 0;
  }
  
  .keys {
    display: flex;
    flex: 1;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
  }
  
  .key {
    border: 3px solid #333;
    border-radius: 5px;
    margin: 1rem;
    font-size: 1.5 rem;
    padding: 1rem 0.5rem;
    width: 100px;
    text-align: center;
    color: #e2e2e2;
    background: rgba(0, 0, 0, 0.5);
    text-shadow: 0 0 5px solid black;
    transition: all 0.09s;
  }
  
  .playing {
    transform: scale(1.1);
    border-color: #ffc600;
    box-shadow: 0 0 5px #ffc600;
  }
  
  kbd {
    display: block;
    font-size: 1.4rem;
  }
  
  .sound {
    font-size: 0.9rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    color: #ffc600;
  }
  